body {
  margin: 0;
  padding: 0;
}

.app-wrapper {
  width: 1024px;
  margin: 0 auto;
  display: grid;
  grid-template-areas: "header header"
  "nav content";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
}

.header {
  grid-area: header;
  background-color: #13CE66;
  padding: 10px;
  border-bottom: 10px solid #fff;
}

.header img {
  height: 40px;
}

.nav {
grid-area: nav;
background-color: #13CE66;
border-right: 10px solid #fff;
}

.nav ul {
  list-style: none;
  padding: 0 0 0 20px;
}

.nav li {
  height: 30px;
}

.nav a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}

.content {
  grid-area: content;
}

.banner {
  width: 100%;
}

.user-info {
  padding-top: 10px;
  display: flex;
}

.avatar {
  width: 160px;
}

.info {
  padding-left: 20px;
}

.info ul {
  list-style: none;
  padding-left: 0;
}